{% extends 'base_profile.html' %}
{% block profilecontent %}
<div class="container">
 <img src="{{ profile.image.url }}" class="img-fluid" alt="...">
</div>
<div class="container" style="margin-top: 35px;">
    <h3 class="form-control">Username:&nbsp;{{ profile.user.username }}</h3>
    <h3 class="form-control">Name:&nbsp;{{ profile.user.first_name }}  {{ profile.user.last_name }}</h3>
    <h3 class="form-control">Email:&nbsp;{{ profile.user.email }}</h3>
    <h3 class="form-control">Birthday:&nbsp;{{ profile.birthday }}</h3>
    <h3 class="form-control">Country:&nbsp;{{ profile.country }}</h3>
    <h3 class="form-control">Bio:&nbsp;{{ profile.bio }}</h3>
    <h3 class="form-control">Phone Number:&nbsp;{{ profile.phone_number }}</h3>
</div>

<div class="container d-flex justify-content-center" style="margin-top:3vh">
 <a href="{% url 'user_profile:profile_edit' request.user.username  %}" class="btn btn-primary " style="width:25vh;" > Edit</a>
</div>
{% endblock %}