<nav class="navbar navbar-expand-lg navbar-dark bg-dark"">
    <div class="container justify-content-center ">
        <a href="#" class="navbar-brand">Nimusoft</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <!-- <a href="#" class="nav-item nav-link active">Sign Up</a>
                <a href="#" class="nav-item nav-link active">Sign In</a> -->
                
            </div>
            <div class="navbar-nav ms-auto ">
               
                    <a href="{% url 'signup' %}" class="nav-item nav-link">Sign Up</a>
                    <a href="{% url 'signin' %}" class="nav-item nav-link ">Sign In</a>
                
            </div>
        </div>
    </div>
</nav>